# Игнорирование данных
/data/*
!/data/.gitkeep

# Игнорирование настроек среды разработки
.vscode/
.idea/

# Игнорирование временных файлов
*.tmp
*.log
*.bak

# Игнорирование конфиденциальных данных
.env
.env.dev
.env.prod
.env.*
secrets/

# Игнорирование кэша Docker
.docker/

# Игнорирование временных файлов PowerShell
*.ps1.log
*_history.txt

# Игнорирование резервных копий
backups/
*.backup
