{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if show_import_export %}
    <li>
      <a href="{% url 'admin:data_manager_import_from_json' %}" class="button">
        Импорт из JSON
      </a>
    </li>
    <li>
      <a href="{% url 'admin:data_manager_export_to_json' %}" class="button">
        Экспорт в JSON
      </a>
    </li>
    <li>
      <a href="{% url 'admin:data_manager_generate_js_config' %}" class="button">
        Сгенерировать JS
      </a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock %} 